@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Duployan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Duployan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sankofa+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');



:root{
    /* Cores  */
    --cor_primaria: #000000;

    /* Fontes */

    --fonte_logo:"Rubik Mono One", monospace;
    --tamanho_logo: 2.5em;

    --fonte_menu_principal:"Rampart One", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecalho{
    background: #a3f7eb;
    padding: 10px;
    /* Estruturar o leoiaute com Grid */
    display: grid;
    grid-template-columns: 1fr 4fr;
    /*  Row| |coluns */
    gap: 0px 100px;

    border-bottom: 0.2px solid var(--cor_primaria); 
    box-shadow: 1px 1px 5px #000000a2;

}
#logo{
    display: flex;
    align-items: center;
    justify-items: center;
}

#logo p {
    /* font-family: fantasy, 'Times New Roman', Times, serif; */
    font-family: var(--fonte_logo);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: oblique;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
    font-size: var(--tamanho_logo);
    /* text-shadow: 1px 2px 12px ; */
    text-align: center;
    text-transform: uppercase;
    color: var(--cor_primaria);
}

#menu_principal{
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr;
    font-family: var(--fonte_menu_principal);
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;

    /* Organizar o aline e justify */
    place-items: center end;
}

#itens_menu ul{
    list-style: none;
    padding: 10px;

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: end;
    align-items: end;
}

#itens_menu li{
    /* background-color: var(--cor_primaria); */
    padding: 10px;
}

#itens_menu li:hover{

    /* border-bottom:3px solid var(--cor_primaria); */
    background-color:#ff2975;
    color: white;
    cursor: pointer;
}
#quem_sou:hover{
/*     background: linear-gradient(40deg, rgb(184, 24, 24), rgb(175, 15, 15), rgba(179, 0, 140, 0.575));
 */}
#quem_sou.desktop{
    /*  
        background-image: url('/midias/img/dragonite_perfil.webp');
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    */

    background: linear-gradient(40deg, rgb(146, 25, 25), rgb(0, 0, 255), rgb(3, 255, 3));
    background-attachment: fixed;

/*     background: radial-gradient(rgb(15, 172, 36), rgb(26, 245, 37),rgb(0, 105, 0)); */


    padding:0px 5px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:0px 20px;

    justify-items: center;
}

#quem_sou.mobile{

    background: linear-gradient(40deg, rgb(146, 25, 25), rgb(0, 0, 255), rgb(3, 255, 3));
    background-attachment: fixed;

    padding:0px 5px;

    display: none;
    grid-template-columns: 1fr;
    gap:0px 20px;

    justify-items: center;
}


#informacoes_texto{
    padding: 10px;

    display: grid;
    grid-template-columns: 0.5fr;
    grid-template-rows:8fr 1fr 1fr;
    gap: 10px 0px;

    font-family: "DM Serif Text", serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 2rem;

}

#titulo_info{
}
#botao_info{
    margin-bottom: 10px;
}
#botao_info button{
    padding: 10px 30px;
    border: none;
    background-color: rgb(0, 112, 38);
    font-size: 1rem;
    font-weight: bold;
    color: white;
    /* Arredondamento de bordas */
    border-radius: 5px;
    box-shadow: rgb(255, 255, 255);

}
#botao_info button:hover{
    cursor: pointer;
    background-color:rgb(0, 87, 29);
}
#redes_sociais_info{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    
}

#insta_info{

}

#linkedin_info{

}

#github_info{

}
.classe_redes_sociais{
    height: 50px;
    width: 50px;
    filter: invert(75%);
}
.classe_redes_sociais figure img{
    box-shadow: 2px 2px 5px color(srgb rgb(0, 0, 0) green blue);
}
.classe_redes_sociais:hover{
    cursor: pointer;
    opacity: 0.5;
}
#foto{
    padding: 10px;

}

#foto figure img{
    border-radius: 50%;
    box-shadow: 1px 1px 5px;
}

#secao_principal_sobre{
    height: 100vh;
    background-color: blanchedalmond;
    padding: 10px;

    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
}
#titulo_sobre{
    background-color: rgb(0, 0, 82);
    width: 30%;
    height: 50%;
    
    place-self: center;
}
#dados_sobre{
    background-color: rgb(0, 0, 82);
    padding: 10px;


    display: grid;
    grid-template-columns: 2fr 3fr;

    gap: 10px;
}
#foto_sobre{
    background-color: black;
}
#texto_sobre{
    background-color: blueviolet;
    height: 40%;
    width: 90%;
    place-self: center;
}

#secao_skills{
    background-color: bisque;
    height: 100vh;
    padding: 10px;

    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
}

#titulo_skills{
    background-color: blue;
    height:50% ;
    width: 30%;
    place-self: center;
}

#sobre_skills{
    background-color: darkgoldenrod;
    height: 100%;
    padding: 10px;

    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 0px 20px;
}
#div_textos_skills{
    height: 100%;
    background-color: darkgray;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 7fr;
    gap: 10px 0px;
}

#textos_skills{
    background-color: deeppink;
}

#secao_abilidades{
    background-color: tomato;

    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 10px;
}

#foto_skills{
    height: 60%;
    width: 80%;
    place-self: center;
    background-color: forestgreen;
}
.abilidades{
    background-color: blue;
    height: 50px;
    width: 90%;
}

/* Adaptação para mobile */

@media (max-width: 800px) {

    #cabecalho{
        grid-template-columns: 1fr;
    }
    #menu_principal{
        place-items: start center;
    }
    #itens_menu ul{
        flex-direction: column;
    }
    #quem_sou.desktop{
        display: none;
    }

    #quem_sou.mobile{
        display: grid;
    }


}
